<!DOCTYPE html>
<html>
<%- include partials/head.ejs %>

<body>
  <div class="container">
  <%- include partials/user_login_head.ejs %>

<section>
  <h2>Token transfer</h2>
  <div class="border border-default">
    <form id="form-request-tokens" onsubmit="sendTokens(); return false;" method="post">
      <input type="text" id="token-count" name="token_count" placeholder="No. of tokens">
      <select id="token-recvr" name="token_recvr" form="form-request-tokens">
      <% for ( var i = 0; i < users.length; i++ )   { %>
        <option value="<%= users[i]%>"><%= users[i] %></option>
        <% } %>
      </select>
      <input type="submit" name="submit" value="Send Tokens">
    </form>
  </div>
</section>

<main>
  <h2>Requests</h2>
  <ul class="token-req-list list-group">
    <% for ( var i = 0; i < token_requests.length; i++ )   { %>
      <li class="list-group-item">
        <span class="d-none token-requestor-index"><%= token_requests[i].index %></span>
        <span class="p-1 border border-primary">User: <%= token_requests[i].name %></span>
        <span class="p-1 border border-success">Tokens: <%= token_requests[i].value %></span>
        <button class="admin-ack-req" type="button" name="accept">Acknowledge</button>
        <button class="admin-reject-req" type="button" name="reject">Reject</button>
    </li>
    <% } %>
  </ul>
</main>

</div>
<script type="text/javascript" src="js/admin.js"></script>

</body>

</html>
