<html>
<%- include partials/head.ejs %>

<body>
  <div class="container">
    <h1>Market</h1>

    <table class="table">
      <thead>
        <th>Name</th>
        <th>Seller</th>
        <th>Description</th>
        <th>Price</th>
        <th>Action</th>
      </thead>
      <tbody>
        <% for(var i=0; i < data.length; i++) { %>
          <tr>
            <td class="d-none market-item-id"><%= data[i].id %></td>
            <td class="market-item-name"><%= data[i].name %></td>
            <td class="market-item-owner"><%= data[i].owner %></td>
            <td class="market-item-description"><%= data[i].description %></td>
            <td class="market-item-price"><%= data[i].price %></td>
            <td><button class="market-buy-item" type="button">Buy</button></td>
          </tr>
          <% } %>
        </tbody>
      </table>

    </div>

  <script type="text/javascript" src="js/market.js"></script>

  </body>

  </html>
